@media screen and (min-width: 767px) and (max-width: 1024px){
    .cards{
        justify-content: space-between;
    }
    .card:not('.slick-slide'){
        max-width: 31%;
        margin: 0 1% 10px 1%;
    }
    .header__inner{
        align-items: flex-start;
        justify-content: center;
    }
    .header-groups{
        margin-bottom: 20px;
    }
    .header-controls{
        margin-right: auto;
    }
    /*search*/
    .search-result__categories-title{
        margin-right: 30px;
    }
    .search-result__category{
        margin-right: 20px;
        padding: 0 20px;
    }
    /*profile*/
    .btn-back{
        top: 10px;
        left: 15px;
    }
    /*groups*/
    .groups__arrow{
        top: -40px;
    }
    .groups__arrow-next{
        right: 0;
    }
    .groups__arrow-prev{
        right: 40px;
        left: auto;
    }
    /*about*/
    .about-article__img,
    .about-article__text{
        max-width: 48%;
    }
    .contacts__row{
        justify-content: space-around;
    }
    /*community*/
    .community__container{
        justify-content: center;
    }
    .community__sidebar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 770px;
        margin-top: 0;
    }
    .community-chat,
    .community-users{
        max-width: 300px;
        margin-top: 0;
    }
    /*Extra pages*/
    .extra-page-row__text{
        max-width: 49%;
    }
    .extra-page-row__img{
        max-width: 49%;
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape){

}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: portrait){
    /*create*/
    .create__top{
        justify-content: center;
    }
    .create__text{
        margin-top: 30px;
    }
    .create-category, .create-tag, .create-community, .create-stash{
        min-width: 100%;
        width: 100%;
    }
    .create-tag-item__img{
        max-width: 200px;
    }
    .create-tag-item__long,
    .create-tag-item__short{
        max-width: 250px;
    }
    /*product*/
    .product{
        padding: 50px 0;
    }
    .product .btn-back{
        top: -40px;
    }
    /*contacts*/
    .contacts__row{
        justify-content: center;
    }
    .contacts__col{
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .header__inner{
        flex-direction: column;
        align-items: center;
    }
    .header-groups{
        margin: 15px 0;
    }
    .big-tabs__btns{
        width: 100%;
        padding: 0;
    }
    .big-tabs-btn{
        width: 48%;
        margin: 1%;
    }
    .install-app{
        margin: 0;
    }
    .header-controls{
        margin-top: 15px;
        margin-right: auto;
    }
    .header-no-auth{
        margin-right: 0;
    }
    .header-notifications{
        right: -30px;
    }
    /*search*/
    .search-result__categories,
    .search-result__categories-items{
        justify-content: center;
    }
    .search-result__categories-title{
        margin-right: 0;
    }
    .search-result__category{
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 15px;
    }
    .card-stash{
        right: 10px;
        bottom: 10px;
        left: 10px;
    }
    .card-stash__dd-btn{
        width: 50px;
    }
    /*Profile*/
    .profile__counter{
        margin: 0 10px;
    }
    .profile__controls{
        position: static;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .btn-back{
        top: 10px;
        left: 15px;
    }
    /*Notifications*/
    .notifications__controls{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .notifications__btn-read, .notifications-select{
        margin-left: 0;
        margin-top: 30px;
    }
    .notifications-item{
        flex-wrap: nowrap;
    }
    .notifications-item__type{
        order: 1;
    }
    .notifications-item__author{
        order: 2;
    }
    .notifications-item__msg{
        order: 4;
        width: 100%;
        margin-top: 10px;
    }
    .notifications-item__date{
        order: 3;
    }
    /*create*/
    .create .btn-back{
        top: -40px;
    }
    .create__slider{
        width: 90%;
        margin: 10px auto 0 auto;
    }
    .create__text{
        margin-top: 15px;
    }
    .create__main-block{
        flex-wrap: wrap;
    }
    .create-select{
        max-width: 80%;
    }
    .create-category, .create-tag, .create-community, .create-stash{
        min-width: 100%;
        width: 100%;
    }
    .create-hint{
        margin-top: 10px;
    }
    .create-stash__item{
        margin-bottom: 15px;
    }
    .create__text-slider{
        max-width: 100%;
        margin: 10px 0;
    }
    .create-tag-item__col:first-child{
        margin-top: 30px;
    }
    .create-tag-item{
        margin-top: 50px;
    }
    .create-tag-item__img{
        max-width: 100%;
    }
    .create-thanks{
        padding-top: 50px;
    }
    .create-tag-item__long,
    .create-tag-item__short{
        max-width: 100%;
    }
    /*stash*/
    .stash__top {
        margin: 40px;
    }
    /*about*/
    .about-article__img{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .about-article:nth-child(even){
        flex-direction: column-reverse;
    }
    /*contacts*/
    .contacts__col{
        max-width: 100%;
    }
    .contacts__form-btns{
        justify-content: center;
    }
    .contacts__btn{
        margin: 0 15px 30px 15px;
    }
    /*community*/
    .community__sidebar{
        margin-top: 0;
    }
    /*extra pages*/
    .extra-page-text{
        font-size: 14px;
        line-height: 28px;
    }
    .extra-page-headeing{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
    }
    .extra-page-headeing-small{
        font-size: 18px;
        line-height: 22px;
    }
    .content-guide__block{
        margin-bottom: 40px;
    }
    .content-guide__block-w-bb{
        padding-bottom: 35px;
    }
    .content-guide__after-logo-text{
        margin-bottom: 40px;
    }
    .extra-page img{
        max-width: 90%;
    }
    .extra-page-row{
        padding: 40px 0;
    }
    .extra-page-row--reverve .extra-page-row__text{
        order: 2;
    }
    .extra-page-row--reverve .extra-page-row__img{
        order: 1;
    }
    .extra-page-row__img{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .extra-about-bg__title{
        font-size: 30px;
    }
    .extra-about-bg{
        padding: 80px 0;
    }
    .extra-page-join__text{
        font-size: 14px;
        line-height: 18px;
    }
    .extra-menu__link{
        font-size: 16px;
        line-height: 20px;
    }
    .extra-menu__list-item{
        margin: 0 5px;
    }
    .extra-menu__inner{
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    .card{
        max-width: 50%;
    }
    .card__img img{
        width: 100%;
    }
    .header-btns{
        margin-left: 10px;
        padding-left: 10px;
    }
    .header-btn{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding: 5px;
    }
    .header-btns:before{
        margin-top: -2px;
    }
    .modal-window{
        width: 90%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
    .card{
        max-width: 48%;
        margin: 0 1% 10px 1%;
    }
}
@media screen and (max-width: 374px){
    /*Product*/
    .product-controls, .product-btns{
        margin-left: auto;
    }
    .product-similar__img{
        width: 68px;
        min-width: 68px;
    }
    .product-similar__bottom{
        flex-wrap: wrap;
    }
    .product-similar__btns{
        margin-top: 10px;
    }
}