@media screen and (min-width: 767px) and (max-width: 1024px){
    .cards{
        justify-content: space-between;
    }
    .card{
        max-width: 31%;
        margin: 0 1% 10px 1%;
    }
    .header__inner{
        align-items: flex-start;
        justify-content: center;
    }
    .header-groups{
        margin-bottom: 20px;
    }
    .header-controls{
        margin-right: auto;
    }
    /*search*/
    .search-result__categories-title{
        margin-right: 30px;
    }
    .search-result__category{
        margin-right: 20px;
        padding: 0 20px;
    }
    /*profile*/
    .btn-back{
        top: 10px;
        left: 15px;
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: landscape){

}
@media screen and (min-width: 767px) and (max-width: 1024px) and (orientation: portrait){

}
@media screen and (min-width: 320px) and (max-width: 767px){
    .header__inner{
        flex-direction: column;
        align-items: center;
    }
    .header-groups{
        margin: 15px 0;
    }
    .big-tabs__btns{
        width: 100%;
        padding: 0;
    }
    .big-tabs-btn{
        width: 48%;
        margin: 1%;
    }
    .install-app{
        margin: 0;
    }
    .header-controls{
        margin-top: 15px;
        margin-right: auto;
    }
    .header-no-auth{
        margin-right: 0;
    }
    /*search*/
    .search-result__categories,
    .search-result__categories-items{
        justify-content: center;
    }
    .search-result__categories-title{
        margin-right: 0;
    }
    .search-result__category{
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 15px;
    }
    .card-stash{
        right: 10px;
        bottom: 10px;
        left: 10px;
    }
    .card-stash__dd-btn{
        width: 50px;
    }
    /*Profile*/
    .profile__counter{
        margin: 0 10px;
    }
    .profile__controls{
        position: static;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .btn-back{
        top: 10px;
        left: 15px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait){
    .card{
        max-width: 50%;
    }
    .card__img img{
        width: 100%;
    }
    .header-btns{
        margin-left: 10px;
        padding-left: 10px;
    }
    .header-btn{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        padding: 5px;
    }
    .header-btns:before{
        margin-top: -2px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
    .card{
        max-width: 48%;
        margin: 0 1% 10px 1%;
    }
}