@font-face {
    font-family: 'Lato-Hairline';
    src: local('Lato Hairline'), local('Lato-Hairline'), url('../fonts/Lato/latohairline.woff2') format('woff2'), url('../fonts/Lato/latohairline.woff') format('woff'), url('../fonts/Lato/latohairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-HairlineItalic';
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('../fonts/Lato/latohairlineitalic.woff2') format('woff2'), url('../fonts/Lato/latohairlineitalic.woff') format('woff'), url('../fonts/Lato/latohairlineitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Thin';
    src: local('Lato Thin'), local('Lato-Thin'), url('../fonts/Lato/latothin.woff2') format('woff2'), url('../fonts/Lato/latothin.woff') format('woff'), url('../fonts/Lato/latothin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url('../fonts/Lato/latothinitalic.woff2') format('woff2'), url('../fonts/Lato/latothinitalic.woff') format('woff'), url('../fonts/Lato/latothinitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Light';
    src: local('Lato Light'), local('Lato-Light'), url('../fonts/Lato/latolight.woff2') format('woff2'), url('../fonts/Lato/latolight.woff') format('woff'), url('../fonts/Lato/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/Lato/latolightitalic.woff2') format('woff2'), url('../fonts/Lato/latolightitalic.woff') format('woff'), url('../fonts/Lato/latolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Regular';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato/latoregular.woff2') format('woff2'), url('../fonts/Lato/latoregular.woff') format('woff'), url('../fonts/Lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Italic';
    src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/Lato/latoitalic.woff2') format('woff2'), url('../fonts/Lato/latoitalic.woff') format('woff'), url('../fonts/Lato/latoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Medium';
    src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/Lato/latomedium.woff2') format('woff2'), url('../fonts/Lato/latomedium.woff') format('woff'), url('../fonts/Lato/latomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-MediumItalic';
    src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('../fonts/Lato/latomediumitalic.woff2') format('woff2'), url('../fonts/Lato/latomediumitalic.woff') format('woff'), url('../fonts/Lato/latomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Semibold';
    src: local('Lato Semibold'), local('Lato-Semibold'), url('../fonts/Lato/latosemibold.woff2') format('woff2'), url('../fonts/Lato/latosemibold.woff') format('woff'), url('../fonts/Lato/latosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-SemiboldItalic';
    src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url('../fonts/Lato/latosemibolditalic.woff2') format('woff2'), url('../fonts/Lato/latosemibolditalic.woff') format('woff'), url('../fonts/Lato/latosemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Bold';
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/Lato/latobold.woff2') format('woff2'), url('../fonts/Lato/latobold.woff') format('woff'), url('../fonts/Lato/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/Lato/latobolditalic.woff2') format('woff2'), url('../fonts/Lato/latobolditalic.woff') format('woff'), url('../fonts/Lato/latobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Heavy';
    src: local('Lato Heavy'), local('Lato-Heavy'), url('../fonts/Lato/latoheavy.woff2') format('woff2'), url('../fonts/Lato/latoheavy.woff') format('woff'), url('../fonts/Lato/latoheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-HeavyItalic';
    src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'), url('../fonts/Lato/latoheavyitalic.woff2') format('woff2'), url('../fonts/Lato/latoheavyitalic.woff') format('woff'), url('../fonts/Lato/latoheavyitalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Black';
    src: local('Lato Black'), local('Lato-Black'), url('../fonts/Lato/latoblack.woff2') format('woff2'), url('../fonts/Lato/latoblack.woff') format('woff'), url('../fonts/Lato/latoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('../fonts/Lato/latoblackitalic.woff2') format('woff2'), url('../fonts/Lato/latoblackitalic.woff') format('woff'), url('../fonts/Lato/latoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato-Regular', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
}
input, textarea, button, a, video {
    outline: none;
}
input, textarea, button{
    padding: 0;
    border: none;
}
input[type="file"] {
    display: none;
}
/*GENERAL*/
.ovh {
    overflow: hidden;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}
.loading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.loading__bubbles{
    display: flex;
}
.loading__bubbles span{
    width: 9px;
    height: 9px;
    margin: 0 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #97A9CB;
}
.loading__bubbles span:nth-child(1){
    -webkit-animation: loadingScale 1s 0s infinite linear both;
    -o-animation: loadingScale 1s 0s infinite linear both;
    animation: loadingScale 1s 0s infinite linear both;
}
.loading__bubbles span:nth-child(2){
    -webkit-animation: loadingScale 1s 0.5s infinite linear both;
    -o-animation: loadingScale 1s 0.5s infinite linear both;
    animation: loadingScale 1s 0.5s infinite linear both;
}
.loading__bubbles span:nth-child(3){
    -webkit-animation: loadingScale 1s 1s infinite linear both;
    -o-animation: loadingScale 1s 1s infinite linear both;
    animation: loadingScale 1s 1s infinite linear both;
}
.loading__text{
    margin-top: 13px;
    font-family: "Lato-Semibold",sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
@-webkit-keyframes loadingScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loadingScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.install-app{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 250px;
    bottom: 0;
    left: 0;
    padding: 12px;
    background: #FFFFFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    z-index: 5;
}
.install-app__close{
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
}
.install-app__items{
    display: flex;
    flex-wrap: wrap;
}
.install-app__item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}
.install-app__item-name{
    font-family: "Lato-Bold",sans-serif;
    font-size: 9px;
    line-height: 10px;
    color: #333333;
}
.install-app__item-code{
    width: 64px;
}
.install-app__text{
    margin: 11px 0 3px 0;
    font-family: "Lato-Bold",sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #333333;
    text-align: center;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    overflow-y: auto;
    z-index: 999;
}
.modal-window{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 456px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.modal-window_opened{
    display: block;
}
.modal-window__head{
    position: relative;
    padding: 21px;
    border-bottom: 1px solid #D8D8D8;
}
.modal-window__close{
    position: absolute;
    top: 26px;
    right: 22px;
    cursor: pointer;
}
.modal-window__title{
    font-family:"Lato-Bold",sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.modal-window__content{
    padding: 22px;
}
.modal-window__form-field{
    margin-bottom: 21px;
}
.label-modal{
    display: block;
    margin-bottom: 11px;
    font-family:"Lato-Semibold",sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #333333;
}
.inp-modal{
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 10px;
    font-family:"Lato-Semibold",sans-serif;
    font-size: 13px;
    color: #333333;
    background-color: #F4F4F4;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.inp-modal::-webkit-input-placeholder {
    font-family:"Lato-Semibold",sans-serif;
    color: #999999;
}
.inp-modal::-moz-placeholder {
    font-family:"Lato-Semibold",sans-serif;
    color: #999999;
}
.inp-modal:-ms-input-placeholder {
    font-family:"Lato-Semibold",sans-serif;
    color: #999999;
}
.inp-modal:-moz-placeholder {
    font-family:"Lato-Semibold",sans-serif;
    color: #999999;
}
.checkbox-modal{
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-family:"Lato-Semibold",sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #333333;
}
input[type="checkbox"]{
    display: none;
}
.checkbox-modal span{
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #97A9CB;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
input[type="checkbox"]:checked + span{
    background-color: #97A9CB;
}
.btn-modal{
    height: 45px;
    line-height: 45px;
    padding: 0 48px;
    font-family: "Lato-Bold",sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #97A9CB;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    cursor: pointer;
}
.modal-window__form-login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
}
.modal-window__text-w-link{
    font-family:"Lato-Semibold",sans-serif;
    font-size: 13px;
    color: #333333;
    text-align: center;
}
.modal-window a{
    color: #97A9CB;
}
.modal-window__text-w-link--login{
    margin: 18px 0 42px 0;
}
.modal-window__text-w-link--register{
    margin: 28px 0 21px 0;
}
.modal-window-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal-window-social__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 42px;
    margin: 0 10px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    background-color: #F9F9F9;
}
.modal-window-social__link span{
    margin-left: 5px;
    font-family: "Lato-Bold",sans-serif;
    font-size: 11px;
    line-height: 14px;
}
.modal-window__form-forgot-title{
    margin-bottom: 28px;
    font-family: "Lato-Semibold",sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #333333;
    text-align: center;
}
.welcome-window{
    display: none;
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 816px;
    margin: 0 auto;
    padding: 47px 68px;
    background-color: rgba(0,0,0,0.4);
}
.welcome-window__close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
}
.welcome-window__main{
    width: 100%;
    max-width: 594px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
}
.welcome-window__text{
    margin-bottom: 64px;
    font-size: 15px;
    line-height: 21px;
    color: #F9F9F9;
}
.welcome-window__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.welcome-window__promo{
    margin-left: 35px;
}
.welcome-window__description{
    margin: 22px 0 71px 0;
    font-family: "Lato-Bold",sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}
.welcome-window__btns{
    display: flex;
}
.welcome-window__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 30px;
    margin-right: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
}
.welcome-window__btn span{
    margin-left: 5px;
    font-family:"Lato-Bold",sans-serif;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
}

/*Card Component*/
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -10px;
    margin-right: -10px;
}
.card{
    width: 100%;
    max-width: 20%;
    padding: 0 10px 10px 10px;
}
.card__img{
    position: relative;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.card__img img{
    width: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.card__title{
    margin: 11px 0 14px 0;
    font-family: "Lato-Semibold",sans-serif;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card__avatar{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.card__avatar img{
    width: 100%;
}
.card__text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 50%;
    font-family: "Lato-Bold",sans-serif;
}
.card__stash{
    font-size: 13px;
    line-height: 15px;
    color: #000;
}
.card__author{
    font-size: 9px;
    line-height: 10px;
    color: #999999;
}
.card__counters{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}
.card__counter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.card__counter-icon{
    cursor: pointer;
}
.card__counter-value{
    font-size: 10px;
    line-height: 12px;
    color: #000;
}
.card-stash{
    display: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
}
.card:hover .card-stash,
.card_focused .card-stash{
    display: block;
}
.card-stash__control{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 38px;
    padding-left: 10px;
    font-family:"Lato-Semibold",sans-serif;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;
}
.card-stash__dd{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-stash__dd-icon{
    margin-right: 7px;
}
.card-stash__dd_opened .card-stash__dd-icon{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.card-stash__dd-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    background-color: #97A9CB;
    color: #FFFFFF;
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
}
.card-stash-menu{
    display: none;
    position: absolute;
    top: 50%;
    left: 110%;
    width: 188px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 1.42292px 17.075px #91A3C5;
    -moz-box-shadow: 0 1.42292px 17.075px #91A3C5;
    box-shadow: 0 1.42292px 17.075px #91A3C5;
    z-index: 10;
}
.card-stash-menu:before{
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    width: 0;
    height: 0;
    margin-top: -9px;
    border-top: 9px solid transparent;
    border-right: 12px solid #FFFFFF;
    border-bottom: 9px solid transparent;
}
.card-stash-menu__content,
.card-stash-create{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}
.card-stash-menu__title{
    padding: 15px 15px 0 15px;
    font-family:"Lato-Semibold",sans-serif;
    font-size: 9px;
    line-height: 9px;
    color: #B3C1DB;
}
.card-stash-menu__list{
    padding: 5px 6px;
}
.card-stash-menu-stash{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 4px 4px 4px 7px;
    font-family: "Lato-Semibold",sans-serif;
    font-size: 11px;
    line-height: 11px;
    color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card-stash-menu-stash:hover{
    background-color: #F4F4F4;
}
.card-stash-menu-stash__add{
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 26px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #97A9CB;
    cursor: pointer;
}
.card-stash-menu-stash:hover .card-stash-menu-stash__add{
    display: flex;
}
.card-stash-menu__create{
    display: flex;
    align-items: center;
    height: 35px;
    background-color: #97A9CB;
    cursor: pointer;
}
.card-stash-menu__create-icon,
.card-stash-menu__create-text{
    margin-left: 14px;
}
.card-stash-menu__create-text{
    font-family:"Lato-Semibold",sans-serif;
    font-size: 11px;
    line-height: 11px;
    color: #FFFFFF;
}
.card-stash-create{
    display: none;
    font-family:"Lato-Semibold",sans-serif;
}
.card-stash-create__title{
    display: flex;
    align-items: center;
    padding: 14px 14px 0 14px;
    font-size: 13px;
    line-height: 13px;
    color: #333333;
}
.card-stash-create__title-icon{
    margin-right: 6px;
}
.card-stash-create__inp{
    margin: 12px 7px;
}
.inp-card-stash-create{
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 7px;
    background-color: #F4F4F4;
    font-family:"Lato-Semibold",sans-serif;
    font-size: 11px;
    color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.inp-card-stash-create::-webkit-input-placeholder {
    color: #333333;
}
.inp-card-stash-create::-moz-placeholder {
    color: #333333;
}
.inp-card-stash-create:-ms-input-placeholder {
    color: #333333;
}
.inp-card-stash-create:-moz-placeholder {
    color: #333333;
}
.card-stash-create__checkbox{
    margin-bottom: 15px;
}
.label-card-stash-create{
    position: relative;
    display: flex;
    align-items: center;
    height: 16px;
    margin: 0 7px 0 14px;
    font-size: 11px;
    color: #333333;
    cursor: pointer;
}
.label-card-stash-create__icon{
    margin-right: 7px;
}
.label-card-stash-create__icon svg{
    display: block;
}
.label-card-stash-create:after,
.label-card-stash-create:before{
    content: "";
    position: absolute;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #D5D5D5;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.label-card-stash-create:after{
    top: 2px;
    right: 11px;
    width: 10px;
    height: 10px;
}
.label-card-stash-create:before{
    top: 0;
    right: 0;
    width: 23px;
    height: 14px;
}
input[type="checkbox"]:checked+.label-card-stash-create:before{
    background-color: #333333;
}
input[type="checkbox"]:checked+.label-card-stash-create:after{
    right: 2px;
}
.card-stash-create__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 34px;
    font-family:"Lato-Semibold",sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    background-color: #97A9CB;
    cursor: pointer;
}
.card-search-user__name{
    margin-top: 15px;
    font-family: "Lato-Bold",sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    text-align: center;
}
.card-search-community__name{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Lato-Bold",sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}
.card-search-community .card__img:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

/*Header Block*/
.header{
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #F6F6F6;
}
.header__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-logo{
    display: flex;
    align-items:baseline;
}
.header-logo__text{
    margin-left: 5px;
}
.header-groups{
    position: relative;
    width: 100%;
    max-width: 230px;
    margin: 0 40px;
}
.header-groups__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 11px 14px;
    border: 1px solid #D9D9D9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.header-groups_opened .header-groups__body{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid transparent;
}
.header-groups__body-text{
    font-family:"Lato-Medium",sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}
.header-groups_opened .header-groups__body-arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-groups__menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 0 4px 6px rgba(151, 169, 203, 0.184932);
    -moz-box-shadow: 0 4px 6px rgba(151, 169, 203, 0.184932);
    box-shadow: 0 4px 6px rgba(151, 169, 203, 0.184932);
    overflow: hidden;
    z-index: 6;
}
.header-groups_opened .header-groups__menu{
    display: block;
}
.header-groups__menu-item{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 11px 14px;
}
.header-groups__menu-item:hover{
    background-color: #F8F8F7;
}
.header-groups__menu-icon{
    width: 17px;
    height: 17px;
    margin-right: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    background-color: #D8D8D8;
}
.header-groups__menu-text{
    font-family: "Lato-Semibold",sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-search{
    position: relative;
    width: 100%;
    max-width: 380px;
}
.inp-search{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 62px;
    background-color: #F8F8F7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 14px;
    color: #666666;
}
.inp-search::-webkit-input-placeholder{
    font-family: 'Lato-Regular', sans-serif;
    color: #666666;
}
.inp-search::-moz-placeholder{
    font-family: 'Lato-Regular', sans-serif;
    color: #666666;
}
.inp-search:-ms-input-placeholder{
    font-family: 'Lato-Regular', sans-serif;
    color: #666666;
}
.inp-search:-moz-placeholder{
    font-family: 'Lato-Regular', sans-serif;
    color: #666666;
}
.btn-search{
    position: absolute;
    top: 50%;
    left: 20px;
    background-color: transparent;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
}
.btn-search svg{
    display: block;
}
.header-controls{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}
.header-account__body{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-account__avatar{
    width: 26px;
    height: 26px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.header-account__text{
    margin: 0 10px;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}
.header-account__menu{
    display: none;
}
.header-account__arrow svg{
    display: block;
}
.header-btns{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    padding-left: 30px;
}
.header-btns:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 2px;
    height: 26px;
    background-color: #EFEFEF;
}
.header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 20px;
}
.header-no-auth{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}
.header-no-auth__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 40px;
    margin-right: 15px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 14px;
    color: #333333;
}
.header-no-auth__login{
    background-color: #EFEFEF;
}
.header-no-auth__register{
    border: 1px solid #8FA9D0;
}
.header-menu{
    position: absolute;
    top: 100%;
    right: -290px;
    width: 290px;
    background-color: #fff;
    -webkit-box-shadow: 0 1.42292px 28.4583px rgba(145, 163, 197, 0.2);
    -moz-box-shadow: 0 1.42292px 28.4583px rgba(145, 163, 197, 0.2);
    box-shadow: 0 1.42292px 28.4583px rgba(145, 163, 197, 0.2);
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    overflow: hidden;
    z-index: 998;
}
.header-menu_opened{
    right: 0;
}
.header-menu__item{
    display: block;
    padding: 16px 50px;
    border-right: 7px solid transparent;
    font-family: "Lato-Black",sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.header-menu__item_current,
.header-menu__item:hover{
    background-color: #F4F4F4;
    border-right: 7px solid #97A9CB;
}
.header-menu__social{
    margin-top: 17px;
    padding-left: 50px;
    border-top: 1px solid #999999;
}
.header-menu__social-title{
    margin: 14px 0 20px 0;
    border-right: 7px solid transparent;
    font-family: "Lato-Black",sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.header-menu__social-items{
    display: flex;
    padding-bottom: 21px;
}
.header-menu__social-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #EFF4FF;
}
/*Categories Block*/
.categories{
    margin: 4px 0 1px 0;
    padding: 27px 0 21px 0;
}
.categories__inner{
    position: relative;
    overflow: hidden;
}
.categories__items{
    display: flex;
    flex-wrap: nowrap;
}
.categories-item{
    padding: 14px 22px;
    font-family: "Lato-Bold",sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #97A9CB;
    white-space: nowrap;
    background-color: #EFF4FF;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
}
.categories-item+.categories-item{
    margin-left: 10px;
}
.categories__arrow{
    position: absolute;
    top: 50%;
    width: 14px;
    height: 22px;
    margin-top: -11px;
    cursor: pointer;
    z-index: 3;
}
.categories__arrow-prev:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 65px;
    height: 48px;
    margin-top: -24px;
    background-color: #fff;
    filter: blur(27.1828px);
}
.categories__arrow-next:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 65px;
    height: 48px;
    margin-top: -24px;
    background-color: #fff;
    filter: blur(27.1828px);
}
.categories__arrow-prev{
    left: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.categories__arrow-next{
    right: 0;
}
/*Landing Block*/
.landing{
    padding-bottom: 140px;
}
.big-tabs__controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.big-tabs__btns{
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    background-color: #F4F4F4;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.big-tabs-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 143px;
    height: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    background-color: transparent;
    font-family: "Lato-Semibold",sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
}
.big-tabs-btn_active{
    background-color: #FFFFFF;
    font-family: "Lato-Bold",sans-serif;
    color: #97A9CB;
}
.big-tabs-tab{
    display: none;
}
.big-tabs-tab_active{
    display: block;
}
/*--- SEARCH ---*/
.search-result{
    padding: 30px 0;
    font-family:"Lato-Bold",sans-serif;
}
.search-result__categories{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.search-result__categories-title{
    margin-right: 55px;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
}
.search-result__categories-items{
    display: flex;
    flex-wrap: wrap;
}
.search-result__category{
    display: flex;
    align-items: center;
    height: 35px;
    margin-right: 30px;
    padding: 0 40px;
    border: 1px solid #97A9CB;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    font-size: 16px;
    color: #333333;
}
.search-result__category:hover,
.search-result__category_active{
    background-color: #97A9CB;
    color: #FFFFFF;
}
.search__info{
    margin-top: 30px;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
}
.search-no-results{
    margin-top: 140px;
    font-family:"Lato-Semibold",sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
}
.search-no-results div + div{
    margin-top: 30px;
}